.venv/
__pycache__/
data_splits/
data/
outputs/
SETUP_INTEL_GPU.txt
mes_essai.txt
pre/
__pycache__/
Les etapes.txt
datasets/
yolo11n.pt
eval.py
working/
faces_dataset/
faces_extracted/
metadata.json   
runs/